USE [master]
GO
/****** Object:  Database [MyShop]    Script Date: 07/22/2019 19:31:09 ******/
CREATE DATABASE [MyShop]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyShop]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 07/22/2019 19:31:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Item](
	[Item_ID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](100) NULL,
	[ItemDescription] [varchar](100) NULL,
	[ItemPrice] [float] NULL,
	[ItemQuantity] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Franchise]    Script Date: 07/22/2019 19:31:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Franchise](
	[FranchiseID] [int] IDENTITY(1,1) NOT NULL,
	[FranchiseArea] [varchar](100) NULL,
	[FranchiseName] [varchar](100) NULL,
	[FranchiseOwner] [varchar](100) NULL,
	[FranchiseNumberClients] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 07/22/2019 19:31:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [varchar](100) NULL,
	[EmployeeSurname] [varchar](100) NULL,
	[EmployeeSalary] [Float] NULL,
	[EmployeeAge] [int] NULL
	PRIMARY KEY([EmployeeID])
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
